<!DOCTYPE html>
<head>
	<title>Postage Order</title>
</head>
<body>
	<h1>Mail Form</h1>
	<form action='displayCost' method='get'>	
		Weight: <input type='number' name='weight'/><br>
		<input type='radio' name='mailType' value='letter_stamped'/>Letters (Stamped)<br/>
		<input type='radio' name='mailType' value='letter_metered'/>Letters (Metered)<br/>
		<input type='radio' name='mailType' value='envelope_large'/>Large Envelopes (Flats)<br/>
		<input type='radio' name='mailType' value='first_class_service'/>First-Class Package Service - Retail<br/></br>
    <input type='submit' name='submit'/>
	</form>
</body>
</html>